<section class="jumbotron">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <span class="partner-logo bl-logo"></span>
    </div>
    <div class="col-xs-10 col-md-11 shared-repo-header">
      <h1><%= t('hyku.bl_partners.heading') %></h1>
      <p><%= t('hyku.bl_partners.sub_heading') %></p>
    </div>
  </div>
  <br/>
  <div class="shared-repo-text">
    <p><%= t('hyku.bl_partners.homepage_text') %></p>
    <p><%= t('hyku.bl_partners.homepage_temp_announcement') %></p>
  </div>
</section>

<section class="shared-layer-logos-container ie-table">
  <div class="grid-item ie-table-item">
    <a href="https://mola.oar.bl.uk" target="_blank"><img src="mola-logo-120px.jpg"></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://tate.oar.bl.uk" target="_blank"><img src="tate-logo-120px-width.png"></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://nms.oar.bl.uk" target="_blank"><img src="nms-logo-120px-width.jpg"></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://britishmuseum.oar.bl.uk" target="_blank"><img src="bm-logo-120px-width.png"></a>
  </div>
  <div class="grid-item ie-table-item">
    <a href="https://bl.oar.bl.uk" target="_blank"><img src="bl-logo-120px-height.jpg"></a>
  </div>
</section>
